:root {
    --darkblue: #2E4053;
    --secondary: #536878

}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: "Inconsolata", monospace;
    text-align: center;
}

h1,
h2 {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 300;
}