:root {
    --darkpurple: #1C0B19;
    --keppel: #4EA699;
    --christmas-red: #B3000C;
    --christmas-green: #00B32C;
    --main-font: "Sulphur Point", sans-serif;
    --secondary-font: "Inconsolata", monospace;
    --xmas-font-one: "Berkshire Swash", serif;
    --xmas-font-two: "Mountains of Christmas", serif;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: var(--xmas-font-two);
    text-align: center;
    background-color: var(--darkpurple);
    color: var(--keppel);
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

h1 {
    color: var(--christmas-red);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14rem;
    line-height: .2;
    text-shadow: 3px 3px 6px #FFF;
}

p {
    font-size: 5rem;
    font-weight: 800;
    line-height: .2;
    margin-top: -2rem;
    text-shadow: 1px 1px 1px #FFF;
}